<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="se.chalmers.dryleafsoftware.androidrally"
	android:versionCode="2"
	android:versionName="1.1" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="17" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="se.chalmers.dryleafsoftware.androidrally.MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="se.chalmers.dryleafsoftware.androidrally.libgdx.GameActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="se.chalmers.dryleafsoftware.androidrally.GameConfigurationActivity"
			android:label="@string/title_activity_game_configuration"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="se.chalmers.dryleafsoftware.androidrally.HelpActivity"
			android:label="@string/title_activity_help" 
			android:theme="@android:style/Theme.Dialog" >
		</activity>
	</application>

</manifest>
